<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= post.content %>
  </div>

  <div>
    <strong>Creator:</strong>
    <%= post.creator&.name %>
  </div>

  <div>
    <strong>Editors:</strong>
    <%= post.editors.any? ? post.editors.map(&:name).join(", ") : "None" %>
  </div>

</div>
